<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Git4PL2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Git4PL2.Properties.Settings>
            <setting name="GitRepositoryPath" serializeAs="String">
                <value>D:\Repo</value>
            </setting>
            <setting name="SaveEncodingType" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="DiffChangeCor" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DiffChangeName" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DiffAddSchema" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DiffWorkWithSlash" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DiffCRLF" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UnexpectedBranch" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UnexpectedServer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WarnInRegEx" serializeAs="String">
                <value />
            </setting>
            <setting name="WarnOutRegEx" serializeAs="String">
                <value />
            </setting>
        </Git4PL2.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
